*{
  width: 1000px;
  margin: auto;
}

/* HEADER */
header{
  background-image: url('../img/pattern.png');
  background-color: #4EA0FF;
  background-position: center;
  height: 200px;
}

  #logo{
  display: block;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 100px
}

/* MAIN */

main{
  margin-left: 4px;
  padding-top: 10px;
  
}

#title{ 
font-size: 40px;
padding-top: 5px;
}


.credits{
  color: #696969;
  font-size: 15px;
  padding-top: 5px;
}

a{
  color: #00ACE6;
}
.portrait{
  width: 40%;
  height: 40%;
}

.immagini-head{
  padding-top: 15px;
}

.photo-credits{
  font-size: 10px;
}

.paragrafo{
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

.important-text{
background-color: #FFFF00;
}

ul{
  padding-left: 15px;
}
