/* GENERAL */

*{
  padding: 0;
  margin: 0;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.important-text{
  background-color: #FFFF00;
  }

/* HEADER */
header{
  padding: 10px;
  background-image: url('../img/pattern.png');
  background-color: #4EA0FF;
  background-size: 25%;
  height: 100px;
}

  #logo{
  width: 200px;
  margin-top: 40px
}

/* MAIN */

main{
  padding: 20px 10px;  
}

#title{ 
font-size: 40px;
}

.credits{
  color: #696969;
  font-size: 15px;
  padding-top: 5px;
}

#author{
  color: #00ACE6;
}

.immagini-head{
  padding-top: 15px;
}

.photo-credits{
  font-size: 10px;
}

.paragrafo{
  text-align: justify;
  padding: 20px 0;
}

ul{
  padding-left: 15px;
  padding-bottom: 15px;
}

table{
  border-collapse:collapse;
}

.table-head{
  background-color: #20A9E5;
  color: #FFFFFF;
  text-align: left;
}

.row-one,.row-three{
  background-color: #B0E5F2;
}

.column-one, .column-two{
  width: 25%;;
}

.column-three{
  width: 50%;
}

/* FOOTER */

footer{
  padding: 0px 10px;
}

#more{
  color: #717171;
  padding-bottom: 8px;
}

.image-box{
  width: 207px;
  height: 158px;
  margin: 5px 0;
  padding: 10px;
}

#image-monitor{
  background-image: url('../img/monitor.jpg');
  background-size: 100%;
}

#image-graph{
  background-image: url('../img/graph.jpg');
  background-size: 100%;
}

.image-text{
  padding: 5px 5px;
  color: white;
}